/* Mobile Styles */
.header {
  background-color: #1791fc;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  margin-top: 100px;
  height: 150px;
  width: 100%;
  color: #ffffff;
}

.header-avatar {
  text-align: center;
}

.header-avatar img {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 100px;
}

.header-name {
  position: relative;
  text-align: center;
  bottom: 30px;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .header {
    position: absolute;
    height: 310px;
    width: 35%;
    left: 3%;
    top: 90px;
  }

  .header-avatar {
    position: relative;
    margin: 0 auto;
    width: 256px;
    top: 50px;
  }

  .header-avatar img {
    height: unset;
  }

  .header-name {
    bottom: -20px;
    font-size: unset;
  }
}
