.tweet {
  position: relative;
  border: 4px solid #545149;
  height: 200px;
  top: -10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tweet:hover {
  box-shadow: 10px 10px 0 #a1bebf;
}

.tweet:hover header span {
  visibility: visible;
}

.tweet header img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 20px;
}

.tweet header p {
  position: absolute;
  font-size: 20px;
  top: -5px;
  left: 70px;
}

.tweet header span {
  position: absolute;
  color: #a1bebf;
  visibility: hidden;
  top: 15px;
  right: 20px;
  font-size: 20px;
}

.tweet section p {
  position: relative;
  width: 90%;
  margin-left: 20px;
  word-wrap: break-word;
  font-size: 17px;
}

.tweet section {
  position: relative;
  width: 95%;
  height: 100px;
  top: 35px;
  left: 10px;
  border-bottom: 4px solid #545149;
}

.tweet footer {
  position: relative;
  width: 97%;
  top: 35px;
  left: 10px;
}

#symbol {
  position: absolute;
  color: #4056a1;
  right: 20px;
}

#day-counter {
  position: absolute;
  font-size: 15px;
  left: 20px;
}

@media (min-width: 768px) {
  .tweet {
    height: 250px;
    top: 19px;
  }

  .tweet header img {
    width: 50px;
    height: 50px;
    top: 20px;
  }

  .tweet header span {
    font-size: inherit;
    top: 30px;
  }

  .tweet header p {
    top: 10px;
    font-size: inherit;
    left: 80px;
  }

  .tweet section {
    width: 97%;
    top: 65px;
    left: 10px;
  }

  .tweet section p {
    font-size: inherit;
  }

  .tweet footer {
    top: 70px;
  }
}
